@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-2">Welcome</h1>
    <p>To access our system please register an account at the top right or login.</p>
</div>
