@page
@model ST10083941_CLDV6211_POE.Pages.MoreInfoModel
@{
}

<div>
    <p class="display-3">Things to Note</p>
    <ul class="list-group">
        <li>Duplicate primary keys are not able to be entered, validation to prevent this has been added.</li>
        <li>Input fields limit the characters that are allowed to an extent. Some <strong>may</strong> not allow whitespace.</li>
        <li>All numeric inputs have a minimum value of 0.</li>
        <li>The select list within the Rental create page only lists vehicles that are available.</li>
        <li>The Return and Rental create forms automatically change the Cars availability.</li>
        <li>All dates have been validated. Example is a cars return date that is before the rental start date is prevented from being accepted through the use of model errors.</li>
        <li>All inspectors have been registered on the system. I've attached passwords for their accounts on the Teams assignment link.</li>
        <li class="text-danger"><strong>If the pages containing the tables don't work at the time of seeing this, I've attached pictures of them working whilst being deployed to Azure.</strong></li>
    </ul>
</div>


